.banner-class {
    background-image: url('https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-size: cover;
    height: 100vh;
    margin: 0%;
    color: white;
}

h1 {
    margin: 0%;
}